@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #dc030a;
    --primary-color-dark: rgb(135, 6, 12);
    --text-dark: #0a0a0a;
    --text-light: #737373;
    --extra-light: #e5e5e5;
    --fill-background: #5D7831;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Oswald", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}

.section__description {
    color: var(--text-light);
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    color: var(--white);
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
}

.btn__primary {
    background-color: var(--primary-color);
}

.btn__primary:hover {
    background-color: var(--primary-color-dark);
}

.btn__secondary {
    background-color: transparent;
    border: 1px solid var(--white);
}

.btn__secondary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: var(--extra-light); /*nav color background*/
    position: fixed;
    width: 100%;
    z-index: 9;
}

.nav__bar {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
}

.nav__header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--extra-light); /*hamburger open background color*/
}

.nav__logo img {
    max-width: 90px;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--text-dark); /* hamburger color button*/
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--extra-light); /*mobile - hamburger open background color*/
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    font-size: 1.1rem;
    font-family: var(--header-font);
    white-space: nowrap;
    color: var(--text-dark); /*font color buttons nav bar*/
    transition: 0.3s;
}

.nav__links a:hover {
    color: var(--primary-color);
}

.header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.8)
      ),
      url("assets/header.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .header__container {
    padding-block: 10rem;
    display: grid;
  }
  
  .header__content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    line-height: 5rem;
    color: var(--white);
  }
  
  .header__content h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--header-font);
    line-height: 3rem;
    color: var(--white);
  }
  
  .header__content p {
    margin-bottom: 2rem;
    color: var(--extra-light);
  }

  .about__header {
    text-align: center;
    display: grid;
    gap: 1rem;
  }
  
  .about__header .section__header {
    font-size: 3rem;
  }
  
  .about__header .section__description {
    max-width: 350px;
    margin-inline: auto;
  }
  
  .about__grid {
    margin-top: 4rem;
    display: grid;
    gap: 4rem;
  }
  
  .about__card h4 {
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    padding-top: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--text-dark);
  }
  
  .about__card h4::before {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 6rem;
    line-height: 6rem;
    color: var(--text-dark);
    opacity: 0.1;
    z-index: -1;
  }
  
  .about__card:nth-child(1) h4::before {
    content: "01";
  }
  
  .about__card:nth-child(2) h4::before {
    content: "02";
  }
  
  .about__card:nth-child(3) h4::before {
    content: "03";
  }
  
  .about__card p {
    color: var(--text-light);
  }

  .session {
/* grid-template-columns: repeat(2, 1fr); */
    display: grid;
}

  .session__card {
    /* padding: 10rem 2rem; */
    padding: 5rem 2rem;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .session__card:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("assets/session-1.jpg");
  }
  
  .session__card:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("assets/session-2.jpg");
  }
  
  .session__card:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("assets/session-3.jpg");
  }

  .session__card h4 {
    position: relative;
    isolation: isolate;
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--white);
  }
  
  .session__card p {
    max-width: 350px;
    margin-inline: auto;
    margin-bottom: 2rem;
    color: var(--extra-light);
  }

  @media (width > 540px) {
    .about__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .session__card {
      padding: 7rem 2rem;
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }

    .counter__card {
      padding: 7rem 2rem;
    }

  }

@media (width > 768px) {
  
    nav {
      position: static;
      padding: 1.5rem 1rem;
    }
  
    .nav__bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }
  
    .nav__header {
      padding: 0;
      background-color: transparent;
    }
  
    .nav__logo img {
      max-width: 120px;
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      justify-content: flex-end;
      background-color: transparent;
      transform: none;
      z-index: 1;
    }

    .header__container {
        padding-block: 12rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .header__content {
        grid-column: 2/3;
      }

    .about__header {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
      }
    
    .about__header .section__header {
        text-align: right;
      }
    
    .about__header .section__description {
        text-align: left;
        margin-inline-start: unset;
      }
    
    .about__grid {
        grid-template-columns: repeat(3, 1fr);
      }

      .session {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      
      .session__card {
        padding: 5rem 2rem;
        text-align: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      
      .session__card:nth-child(1) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("assets/session-1.jpg");
      }
      
      .session__card:nth-child(2) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("assets/session-2.jpg");
      }
      
      .session__card:nth-child(3) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("assets/session-3.jpg");
      }
      
      .session__card:nth-child(4) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("assets/session-4.jpg");
      }
      
      .session__card h4 {
        position: relative;
        isolation: isolate;
        max-width: fit-content;
        margin-inline: auto;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 500;
        font-family: var(--header-font);
        color: var(--white);
      }
      
      .session__card p {
        max-width: 350px;
        margin-inline: auto;
        margin-bottom: 2rem;
        color: var(--extra-light);
      }

      .counter__section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
      }
      
      .counter__card {
        padding: 5rem 2rem;
        text-align: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      
      .counter__card h1 {
        position: relative;
        isolation: isolate;
        max-width: fit-content;
        margin-inline: auto;
        font-weight: 500;
        font-family: var(--header-font);
        color: var(--white);
        font-size: 5rem;
        margin-bottom: 1rem; 
      }
      
      .counter__card p {
        max-width: 350px;
        margin-inline: auto;
        margin-bottom: 2rem;
        color: var(--extra-light);
        font-size: 1.4rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
      }
    }
  
    .counter__section {
      background: #5d7831;
    }

    .counter__card {
      position: relative; /* Required for absolute positioning within this element */
      padding: 3rem 2rem;
      text-align: center;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    
    .counter__card h1 {
      position: relative;
      isolation: isolate;
      max-width: fit-content;
      margin-inline: auto;
      margin-bottom: 1rem;
      font-size: 5rem;
      font-weight: 700;
      font-family: var(--header-font);
      color: var(--white);
      font-family: 'Poppins', sans-serif;

    }
    
    .counter__card p {
      max-width: 350px;
      margin-inline: auto;
      margin-bottom: 2rem;
      color: var(--extra-light);
      font-size: 1.5rem;
    }
    
    /* Add the decorative line beneath the <p> tag */
    .counter__card::before {
      content: '';
      position: absolute;
      bottom: 4rem;
      left: 50%;
      width: 20%;
      height: 0.2rem;
      background: var(--extra-light);
      border-radius: 0.5rem;
      transform: translateX(-50%);
    }
    

  .img__gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    text-align: center;
  }

  .img__gallery h1 {
    grid-column: 1/ -1;

  }

  .img__gallery img {
    width: 100%;
    cursor: pointer;
    transition: 0.4s;

  }

  .img__gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
  }

  .full__img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .full__img img{
    width: 90%;
    max-width: 500px;
    
  }

  .full__img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: var(--white);
    cursor: pointer;

  }

  .client__card {
    max-width: 600px;
    margin-inline: auto;
    text-align: center;
  }

  .client__card img {
    max-width: 100px;
    margin-inline: auto;
    margin-bottom: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 100%;
  }

  .client__card > div {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--text-dark);
    opacity: .5;
  }

  .client__card p {
    margin-bottom: 1rem;
    color: var(--text-light);
  }

  .client__card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark)
  }

  .swiper {
    margin-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Styles for navigation arrows */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

/* Styles for navigation arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #f0f0f0; /* Adjust as needed */
}

.footer-icons {
  margin-bottom: 10px;
}

.footer-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333; /* Adjust icon color as needed */
}

.footer-text {
  font-size: 14px;
  color: #666; /* Adjust text color as needed */
}

.gdpr {
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.gdpr:hover {
  text-decoration: underline;
}

/*----------------------------------------
  About.html - About us page
----------------------------------------*/


.about__section {
  display: flex;
  /* align-items: center;
  justify-content: space-between;
  margin-bottom: 40px; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about__section img {
  width: 1000px;
  height: 400px;
  object-fit: cover
}
.about__section__text {
  width: 45%;
  border: 2px solid transparent; /* Set border color to transparent */
  padding: 20px; /* Padding inside the rectangle */
  border-radius: 10px; /* Border radius to create rounded corners */
}
.about_section-text h2 {
  margin-bottom: 10px;
}

.universal {
  margin-bottom: 100px;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins",sans-serif;
  width: 100%;
  min-width: 100vh;
  display: grid;
  place-items: center;
}


.row {
  width: 80%;
  max-width: 1170px;
  display: flex;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  overflow: 5rem 0;
}

.row .imgWrapper {
  overflow: hidden;

}

.row .imgWrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.row .imgWrapper:hover img{
  transform: scale(1.25);

}

.row .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.row .contentWrapper .textWrapper{
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;

}

.row .contentWrapper span.textWrapper span {
  display: inline-block;
  background-attachment: #383f47;
  width: 70px;
  height: 15px;
}

.row .contentWrapper h2 {
  font-size: 40px;
  font-weight: 700;
  color: #383f47;
  padding-bottom: 20px;
}

.row .contentWrapper p {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 25px;
}

.row .contentWrapper {
  padding-left: 0;
}

@media (max-width: 575px) {
  .row {
    flex-direction: column; /* Stacks elements vertically */
    justify-content: center;
    align-items: center;
  }

  .row .imgWrapper {
    order: -1; /* Moves image to the top */
  }

  .row .contentWrapper {
    padding: 10px; /* Reduces padding for smaller screens */
  }
}
